/* test */
body {
    background-color: #343434 !important;
    color: #d6d6d6;
    /* background-color: white !important; */
    /* max-width: 1000px; */
}

button {
    border: none;
    background: none;
}

input[type=text] {
    border-width: 3px !important;
}

input[type=text]:focus {
    border-color: yellowgreen !important;
    border-width: 3px !important;
}

i {
    /* font-size: 3em; */
}

.searchContainer {
    max-width: 400px;
    /* width: 100%; */
}

.search::placeholder {
    /* text-overflow: ellipsis; */
    text-align: center;
}

.search:last-child {
    width: 70%;
}

img {
    /* max-width: 100% !important; */
    /* object-fit: cover; */
}

.currentWeather {
    max-width: 400px;
}

.fiveDayForecast {
    max-width: 800px;
    /* width: 100%; */
}

.carousel .slide {
    width: 80px !important;
}

i {
    color: yellowgreen;
}

.square {
    background-color: yellowgreen;
    border-radius: 0.2em;
    width: 4ch;
    height: 4ch;
    /* aspect-ratio: 1/1; */
}

#currentWeather, .fiveDayForecast {
    /* background-color: rgba(22, 22, 22, 0.4);
    border-radius: 0.35em; */
}

/* .slide-container {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translateX();
} */

img {
    width: 80%;
}

/* .slide h4 {
    white-space: pre;
} */