/* test */
body {
    background-color: rgb(17, 16, 16) !important;
    color: white;
    /* background-color: white !important; */
    /* max-width: 1000px; */
}

button {
    border: none;
    background: none;
}
i {
    /* font-size: 3em; */
}

#searchContainer {
    max-width: 400px;
    width: 100%;
}

#search::placeholder {
    text-overflow: ellipsis;
    text-align: center;
}

#search:last-child {
    width: 70%;
}

img {
    max-width: 100% !important;
    object-fit: cover;
}

#currentWeather {
    max-width: 400px;
}

.fiveDayForecast {
    max-width: 800px;
    width: 100%;
}

.carousel .slide {
    width: 80px !important;
}

i {
    color: yellowgreen;
}

.square {
    background-color: yellowgreen;
    border-radius: 0.2em;
}

#currentWeather, .fiveDayForecast {
    background-color: rgba(22, 22, 22, 0.4);
    border-radius: 0.35em;
}

.slide-container {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translateX();
}